h1{
    text-align: center;
}


.main {
    /*border: 2px red solid;*/
    display: grid;
    grid-template-columns: repeat(auto-fill,23%);
    text-align: center;
    grid-gap: 2%;
    padding: 5%;
 
 }
 .main .main_pop{
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: orange;
}

.main .main_pop .main_pop_btn {

    background: rgb(24, 24, 24);
    color: rgb(245, 245, 245);
    border: none;
    border-radius: 100px;
    padding: 10%;
    
}

.main .main_pop .main_pop_btn:hover{
    background: rgb(245, 245, 245);
    color: rgb(24, 24, 24);
    transition: background .3s ease-in;
}

.resultado{
    user-select: none;
}

.ico {
    cursor: pointer;

}

.ico:hover{
    color: #ddd;
}

.span {
    display: none;
}

img{
    max-width:100%;
    cursor: pointer;
}

img:hover{
    opacity: .5;
}

.modal-title{
    flex-grow: 1;  
}