*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;

    
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 7% 0 5%;

    background: linear-gradient(180deg, rgba(249,250,215,1) 0%, rgba(255,255,255,1) 100%);
}

header h1{
    width: 50%;
    border-bottom: 2px solid black;
    text-align: center;
}

#header--img{
    width: 7em;
}

nav li{
    font-size: 2em;
    line-height: 2em;
}



nav a {
    text-decoration: none;
    color: black;
}

nav a:hover{
    border-bottom: 2px solid black;
}